.page {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoard {

    width: 750px;
    height: 850px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: black solid 5px;
}

.navBar {
    height: 100px;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-evenly;
}

.simulator {
    flex: 1;
    background-color: beige;

}

.card {
    font-size: 16px;
    color: black;
    font-family: "Droid Sans", sans-serif;
}

